# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [3]:
# 2 number types: integer, float

In [4]:
1

1

In [5]:
1.0

1.0

In [6]:
1*3

3

In [8]:
1 / 2 # returns float

0.5

In [9]:
2**4

16

In [11]:
# python follows order of operation using parenthesis
# BODMAS
2 + 3 * 5 + 5

22

In [12]:
(2 + 3) * (5 + 5)

50

In [14]:
4%2 # modulus

0

In [16]:
5%2 # nice way to check if numbers are even (remainder = 0)

1

### Variable Assignment

should **not** start with numbers or special character

In [17]:
var = 2

In [18]:
var

2

In [19]:
x = 2
y = 3
x+y

5

In [21]:
x = x + x # reassign
x

8

### Strings

In [22]:
'single quote'

'single quote'

In [23]:
"double quotes"

'double quotes'

In [24]:
"wrap 'single quotes' with double quote"

"wrap 'single quotes' with double quote"

In [25]:
'wrap "double quotes" in single quotes'

'wrap "double quotes" in single quotes'

In [26]:
x =  'hello'

In [27]:
x

'hello'

In [28]:
print(x) # this is how to display stuff

hello

In [42]:
num = 20
name = 'Jon'

In [43]:
# String formatting
'My number is {} and my name is {}'.format(num, name)

'My number is 20 and my name is Jon'

In [44]:
print('My number is {} and my name is {}'.format(num, name))

My number is 20 and my name is Jon

In [45]:
# no longer have to worry about order of format params
'My number is {one} and my name is {two} and my friend is also {two} and we are both {one} years old'.format(one=num, two=name)

'My number is 20 and my name is Jon and my friend is also Jon and we are both 20 years old'

In [46]:
# indexing strings
s = 'hello'

In [47]:
s[0]

'h'

In [49]:
# slice syntax (colon notation)
s[:]

'hello'

In [51]:
s[0:2]

'he'

In [52]:
s[:4]

'hell'

In [53]:
s[2:]

'llo'

In [54]:
# reverse index
s[-1]

'o'

In [58]:
s[:-1]

'hell'

In [59]:
# all
s[::]

'hello'

In [60]:
# reverse
s[::-1]

'olleh'

In [48]:
for letter in s:
    print(letter)

h
e
l
l
o

In [61]:
for letter in s[::-1]:
    print(letter)

o
l
l
e
h

### Lists

In [62]:
['a', 'b', 'c']

['a', 'b', 'c']

In [63]:
my_list = ['a', 'b', 'c']

In [64]:
# add to list
my_list.append('d')

In [65]:
my_list

['a', 'b', 'c', 'd']

In [66]:
# check type
type(my_list)

list

In [67]:
# index lists
my_list[0]

'a'

In [68]:
my_list[::-1]

['d', 'c', 'b', 'a']

In [69]:
# reassign
my_list[0] = "new"

In [70]:
my_list

['new', 'b', 'c', 'd']

In [77]:
# nested lists
nest = [1,2,3,[1,2,3,[1,2,'target']]]

In [78]:
nest

[1, 2, 3, [1, 2, 3, [1, 2, 'target']]]

In [79]:
nest[3]

[1, 2, 3, [1, 2, 'target']]

In [80]:
nest[3][3]

[1, 2, 'target']

In [81]:
nest[3][3][2]

'target'

In [82]:
print(nest[3][3][2])

target

### Dictionaries

In [4]:
# key value pairs just like a hash table
# Items can be anything
d  =  {'key1':'val', 'key2': 123}

In [5]:
# not in sequence
d[0]

KeyError: 0

In [7]:
# pass in key name
d['key2']

123

In [8]:
dic = {'k1': [1,2,3]}

In [9]:
dic['k1'][2]

3

In [10]:
nested_dic = {'k1': {'innerK1':[1,2,3]}}

In [11]:
nested_dic['k1']['innerK1'][1]

2

### Booleans

In [12]:
True

True

In [13]:
False

False

### Tuples

In [14]:
my_list = [1,2,3]

In [15]:
my_list[2]

3

In [16]:
# tuple is similar to list
t = (1,2,3)

In [17]:
t[2]

3

In [18]:
my_list[0] = 'NEW'

In [19]:
my_list

['NEW', 2, 3]

In [21]:
# Tuples are immutable, can't reassign items
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [25]:
# Set is collection of unique elements
# curly braces

In [26]:
{1,2,3}

{1, 2, 3}

In [27]:
{1,2,3,1,2,3,1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [29]:
# get unique elements of a list
set([1,2,3,1,2,3,1,1,1,2,2,2,3,3,3])

{1, 2, 3}

In [30]:
s = {1,2,3}

In [31]:
# add to a set
s.add(4)

In [32]:
s

{1, 2, 3, 4}

## Comparison Operators

In [33]:
1 > 3

False

In [34]:
-1 < 0

True

In [35]:
1 == 1 # equality

True

In [36]:
1 >= 2

False

In [38]:
1 <= 2

True

In [40]:
1 != 2 #inequality

True

## Logic Operators

In [41]:
(1 < 2) and (2 < 3) # True and True = True

True

In [42]:
(1 < 2) and (2 > 3) # True and False = False

False

In [43]:
(1 < 2) or (2 < 3) # True or True = True

True

In [44]:
(1 < 2) or (2 > 3) # True and False = True

True

In [45]:
(1 < 2) or (2 > 3) or (1==1)

True

In [46]:
(1 < 2) or (2 > 3) and (1==1)

True

## if,elif, else Statements

In [47]:
if 1<2:
    print('y')

y

In [48]:
if True:
    print('y')

y

In [49]:
if 1==2:
    print('first')
else:
    print('last')

last

In [50]:
if 1==2:
    print('first')
elif 1<2:
    print('middle')
else:
    print('last')

middle

In [51]:
if 1==2:
    print('first')
elif 1==1:
    print('second')
elif 1<2:
    print('middle')
else:
    print('last')

second

## for Loops

In [52]:
seq = [1,2,3,4,5]

In [54]:
for item in seq:
    print('item is {}'.format(item))

item is 1
item is 2
item is 3
item is 4
item is 5

In [57]:
txt = 'hello'

In [58]:
for letter in txt:
    print(letter)

h
e
l
l
o

## while Loops

In [61]:
i = 1
while i<5:
    print(i)
    i+=1
# Kernal > Restart if stuck in infinite loop

1
2
3
4

## range()

In [62]:
# range() is good for loops
for x in range(0,5):
    print(x)

0
1
2
3
4

In [63]:
for x in list(range(0,5)):
    print(x)

0
1
2
3
4

In [64]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [65]:
range(0,5)

range(0, 5)

## list comprehension

In [66]:
x = [1,2,3,4]

In [68]:
out = []

In [69]:
for num in x:
    out.append(num**2)

In [70]:
print(out)

[1, 4, 9, 16]

In [71]:
# list comp in square brackes
[num**2 for num in x]

[1, 4, 9, 16]

In [74]:
out = [num**2 for num in x]

In [75]:
out

[1, 4, 9, 16]

## functions

In [83]:
# functions should start with lowercase letters
def my_func(name = 'Sir/ Madam'):
    print('hello ' + name)

In [84]:
my_func('Jon')

hello Jon

In [86]:
my_func(name='Jon')

hello Jon

In [85]:
my_func()

hello Sir/ Madam

In [87]:
my_func

In [91]:
def square(num):
    """
    THIS IS A DOCTSTRING
    Multiline comment
    THIS FUNCTION SQUARES A NUMBER
    """
    return num**2

In [89]:
output = square(16)

In [90]:
print(output)

256

In [92]:
square # shift tab to call the Docstring of a function

## map and filter

In [93]:
seq = [1,2,3,4,5]

In [94]:
map(square, seq) # function, iterable

In [95]:
list(map(square, seq))

[1, 4, 9, 16, 25]

## lambda expressions

In [101]:
# lambda = anonymous function
lambda num: num**2

In [102]:
t = lambda num: num**2

In [103]:
t(6)

36

In [100]:
# lamda functions are good for use in map and filter
list(map(lambda num: num**2, seq))

[1, 4, 9, 16, 25]

In [105]:
# filter function should return a boolean
list(filter(lambda num: num>3, seq))

[4, 5]

In [106]:
list(filter(lambda num: num%2==0, seq))

[2, 4]

## methods

In [114]:
s = 'hello my name is Jon'

In [115]:
s.isnumeric()

False

In [116]:
s.lower()

'hello my name is jon'

In [117]:
s.upper()

'HELLO MY NAME IS JON'

In [119]:
s.split() # splits on whitespace by default

['hello', 'my', 'name', 'is', 'Jon']

In [120]:
s.split('my')

['hello ', ' name is Jon']

In [121]:
tweet = 'Go sports! #Sports'

In [125]:
# fetch hashtag
tweet.split('#')[1]

'Sports'

In [126]:
d = {'k1': 1, 'k2': 2}

In [129]:
d.keys()

dict_keys(['k1', 'k2'])

In [131]:
d.items() #returns tuples

dict_items([('k1', 1), ('k2', 2)])

In [132]:
d.values()

dict_values([1, 2])

In [134]:
list(d.keys())[1]

'k2'

In [135]:
list(d.items())

[('k1', 1), ('k2', 2)]

In [137]:
list(d.items())[0][1]

1

In [138]:
lst = [1,2,3]

In [139]:
lst.pop()

3

In [140]:
lst

[1, 2]

In [142]:
lst.reverse()

In [143]:
lst

[2, 1]

In [145]:
lst.insert(0,3)

In [146]:
lst

[3, 2, 1]

In [147]:
item = lst.pop()

In [148]:
item

1

In [151]:
item = lst.pop(0) # index to pop

In [150]:
item

3

In [152]:
'x' in [1,2,3]

False

In [153]:
'x' in ['x','y','z']

True

In [155]:
#Tuple unpacking
# list of tuples
x = list(d.items())

In [156]:
x

[('k1', 1), ('k2', 2)]

In [157]:
for key, val in x:
    print(val)

1
2

In [158]:
for key, val in x:
    print(key)

k1
k2

In [159]:
str = 'hello'
str.count('l')

2